.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal{
  position: inherit;
  top:inherit;
  left: inherit;
  margin-top: 0;
}

.modal-dialog{
  max-width:inherit;
}

.modal-content{
  padding:5px;
}


/* .map-overlay {
  position: absolute;
  width: 25%;
  top: 0;
  bottom: 0;
  left: 0;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fff;
  max-height: 100%;
  overflow: hidden;
  }
   
  .map-overlay fieldset {
  display: none;
  background: #ddd;
  border: none;
  padding: 10px;
  margin: 0;
  }
   
  .map-overlay input {
  display: block;
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin: 0;
  }
   
  .map-overlay .listing {
  overflow: auto;
  max-height: 100%;
  }
   
  .map-overlay .listing > * {
  display: block;
  padding: 5px 10px;
  margin: 0;
  }
   
  .map-overlay .listing a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #404;
  text-decoration: none;
  }
   
  .map-overlay .listing a:last-child {
  border: none;
  }
   
  .map-overlay .listing a:hover {
  background: #f0f0f0;
  }

  .calculation-box {
    height: 75px;
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: 10px;
    background-color: rgba(255, 255, 255, .9);
    padding: 15px;
    text-align: center;
  }
     
  p {
    font-family: 'Open Sans';
    margin: 0;
    font-size: 13px;
  } */